<mat-toolbar color="primary">
        <!-- <button
          [ngClass]="{ 'hidden': tipo !== 2 }"
          (click)="clickMenu()"
          mat-icon-button
          matTooltip="Menu"
          class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->

        <!-- <button
    mat-icon-button
    matTooltip="Home"
    class="example-icon"
    aria-label="Home button"
    routerLink="/home"
  >

    <mat-icon>home</mat-icon>
  </button> -->

    <!-- <button (click)="clickMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <a href="/home">
      <img class="bateria-icon" src="/assets/icons/drum-set-svgrepo-com.svg" alt="bateria">
    </a>
    <span span (click)="navigateToHome()" style="cursor: pointer;">MC DRUM'S</span>

    <!-- <span>{{clienteLogado?.nome}}</span> -->

    <span class="example-spacer"></span>
    
    <button *ngIf="!clienteLogado"
    routerLink="/login"
    mat-icon-button
    matTooltip="Login"
    aria-label="Example icon-button com ícone de login">
    <mat-icon>login</mat-icon>
  </button>
    <button routerLink="/carrinho" mat-icon-button class="demo-section example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon  [matBadge]="qtdItensCarrinho"  matBadgeColor="warn" matBadgePosition="after" matBadgeOverlap="false">shopping_cart</mat-icon>
    </button>
    <!-- <span>   {{clienteLogado?.nome}} {{clienteLogado?.sobrenome}}</span> -->
  
    <span (click)="navigateToPerfil()" style="cursor: pointer;">
      {{ clienteLogado?.nome }} {{ clienteLogado?.sobrenome }}
  </span>


    <button  mat-icon-button (click)="deslogar()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    
</mat-toolbar>