* {
  font-family: "Montserrat", sans-serif !important;
}

.cabecalho{
  align-items: center;
  text-align: center;
  margin-top: 1em;
}
.full-width-input{
  align-items: center;
  display: grid;
}
.titulo{
  color: rgb(0, 0, 0);
}

.save-button{
  background-color: #3CB371;
  transition: background 0.3s;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color:  #2E8B57;
}

mat-card-actions{
  justify-content: space-around;
}
